<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeamRefimpl" verbose="2" parallel="false">

   <test name="Authenticator">
     <classes>
       <class name="no.knowit.seam.example.security.AuthenticatorTest"/>
     </classes>
   </test>
   
   <test name="Movie">
     <classes>
       <class name="no.knowit.seam.example.action.MovieTest"/>
     </classes>
   </test>
	
</suite>